<div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://angulararchitects.io" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/paper-design/angular2-logo.png">
        </div>
      </a>
      <a href="http://angulararchitects.io" class="simple-text logo-normal">
        Flights 42
      </a>
    </div>
      <ul class="nav">
        <li
          *ngFor="let nav of naviation"
          routerLinkActive="active">
            <a [routerLink]="(singleOutlet$ | async) ?
              nav.link.single :
              nav.link.multi">
              <i [ngClass]="nav.icon"></i>
              <p>{{ nav.label }}</p>
            </a>
        </li>

        <!-- <li routerLinkActive="active">
            <a>
              <i class="nc-icon nc-cart-simple"></i>
              <p>Basket</p>
            </a>
        </li>

        <li routerLinkActive="active">
            <a>
              <i class="nc-icon nc-simple-remove"></i>
              <p>Hide Basket</p>
            </a>
        </li> -->

      </ul>
  </div>

