<div
  class="card"
  [ngStyle]="{'background-color': (selected) ?  'rgb(204, 197, 185)' : 'white' }">

  <div class="card-header">
    <h2 class="card-title">{{ item.from }} - {{ item.to }}</h2>
  </div>
  <div class="card-body">
    <p>
      Flight-No.:
      <span class="badge badge-pill badge-info"> #{{ item.id }}</span>
    </p>
    <p>Date: {{ item.date | date:'EE, MMMM dd, yyyy' }}</p>
    <p>Time: {{ item.date | date:'HH:mm' }}</p>

    <p>
      <button
        class="btn btn-info btn-sm"
        (click)="toggleSelection()">
        {{ selected ? 'Remove' : 'Select' }}
      </button>
    </p>

  </div>
</div>
